.f-label {
  font-size: 16px;
  color: black;
}

.add-btn {
  color: white;
  border-radius: 5px;
  background: #007DFA;
  width: 200px;
  height: 56px;
  margin-left: 15px;
}

.cancel-btn {
  border-radius: 5px;
  width: 200px;
  height: 56px;
}