<div style="margin: 5% 16%;">
  <app-dashboard />
  <p>
    <mat-toolbar style="padding: 10px 0;">
      <mat-toolbar-row style="display: flex; align-items: center; justify-content: space-between;">
        
        <div style="width: 25%;">
          <div style="display: flex; align-items: center; justify-content: space-between; width: 75%;">
            <span>Projects</span> 
            <mat-icon>chevron_right</mat-icon>
            <span>Android UI System</span>
          </div>
          <div style="display: flex; align-items: center; justify-content: space-between;">
            <h1>All Bugs Listing</h1>
            <span style="font-size: 12px; justify-content: center; color: #EC5962; background-color: #FDF2F2; border: 1px solid #FDF2F2; margin-top: 12px; padding: 0 5px;">Bugs</span>
          </div>
        </div>
  
        <div style="display: flex; align-items: center; justify-content: space-between; gap: 10px;">
          <!-- <img src="assets/images/setting-icon.png" alt="users" class="users"> -->
          <!-- <img src="assets/images/Dots horizontal.png" alt="users" class="users"> -->
          <mat-icon class="icon-style">settings</mat-icon>
          <mat-icon class="icon-style">more_horiz</mat-icon>
          <button mat-raised-button color="#0085fa" class="form-btn" (click)="openNewBugModal()">
            <span>+ New Task</span>
          </button>
        </div>
      
      </mat-toolbar-row>
    </mat-toolbar>
  </p>
  
  <p>
    <mat-toolbar style="padding: 10px 0;">
      <mat-toolbar-row style="display: flex; align-items: center; justify-content: space-between;">
        
        <div>
          <mat-form-field appearance="outline">
            <mat-icon matPrefix>search</mat-icon>
            <input matInput type="search" placeholder="Search">
          </mat-form-field>
        </div>
  
        <div style="display: flex; align-items: center; justify-content: space-between; width: 30%;">
          <div style="display: flex; align-items: center; justify-content: space-between;">
            <span>Subtasks </span>
            <mat-icon style="margin-left: 10px;">expand_more</mat-icon>
          </div>
    
          <div style="display: flex; align-items: center; justify-content: space-between; justify-content: space-between;">
            <span>Me </span>
            <mat-icon style="margin-left: 10px;">expand_more</mat-icon>
          </div>
  
          <div style="display: flex; align-items: center; justify-content: space-between; justify-content: space-between;">
            <span>Assignees </span>
            <mat-icon style="margin-left: 10px;">expand_more</mat-icon>
          </div>
        </div>
  
        <div style="display: flex; align-items: center; justify-content: space-between; width: 16%;">
          <mat-icon class="icon-style">filter_list</mat-icon>
          <mat-icon class="icon-style">grading</mat-icon>
          <mat-icon class="icon-style">grid_view</mat-icon>
          <mat-icon class="icon-style">reorder</mat-icon>
        </div>
      
      </mat-toolbar-row>
    </mat-toolbar>
  </p>
  
  <br>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="bugs">

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox></mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox></mat-checkbox>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> BUG DETAILS </th>
        <td mat-cell *matCellDef="let bug"> {{bug.description}} </td>
      </ng-container>
  
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> STATUS </th>
        <td mat-cell *matCellDef="let bug"> <span class="{{bug.status}}-status">{{bug.status}}</span> </td>
      </ng-container>

      <ng-container matColumnDef="deadline">
        <th mat-header-cell *matHeaderCellDef> DUE DATE </th>
        <td mat-cell *matCellDef="let bug"> {{bug.deadline | date: 'medium'}} </td>
      </ng-container>

      <ng-container matColumnDef="developer_user_id">
        <th mat-header-cell *matHeaderCellDef> ASSIGNED TO </th>
        <td mat-cell *matCellDef="let bug"> {{bug.developer_user_id}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> ACTION </th>
        <td mat-cell *matCellDef="let bug">
          <button mat-icon-button [matMenuTriggerFor]="bugUpdateMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #bugUpdateMenu="matMenu">
            <div style="padding: 10px;">
              <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <h3 mat-menu-header>Change Status</h3>
                <mat-icon style="padding-left: 40px;">settings</mat-icon>
              </div>
              <button mat-menu-item (click)="updateBugStatus(bug.bug_id, 'started')"><span class="started-btn">Started</span></button>
              <button mat-menu-item (click)="updateBugStatus(bug.bug_id, 'resolved')"><span class="resolved-btn">Resolved</span></button>
              <button mat-menu-item (click)="updateBugStatus(bug.bug_id, 'completed')"><span class="completed-btn">Completed</span></button>
              <br>
              <div (click)="deleteBug(bug.bug_id)" style="cursor: pointer; display: flex; flex-direction: row; justify-content: space-between; color: red;">
                <h4 mat-menu-header>Delete</h4>
                <mat-icon style="padding-left: 40px;">delete</mat-icon>
              </div>
            </div>
          </mat-menu>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let bug; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>