<mat-grid-list cols="3" rowHeight="100vh">
  <mat-grid-tile colspan="1" style="padding: 0;">
    <div class="left-area"
      style="background-image: url('assets/images/home1.png'); background-size: cover; background-position: center;">
      <div class="logo-container">
        <img src="assets/images/Group.png" alt="Logo" class="logo">
        <p class="company-name">
          <span class="company-manage">Manage</span><span class="company-bug">Bug</span>
        </p>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" style="background-color: #FFFFFF;">
    <div class="form-container">
      <div>
        <h1>Login</h1>
        <p>Please enter your login details</p>
      </div>

      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        
        <mat-form-field appearance="outline">
          <mat-icon matPrefix>email</mat-icon>
          <mat-label>E-mail</mat-label>
          <input matInput type="email" placeholder="Enter your email" formControlName="email" required>
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('pattern')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
          <mat-icon matPrefix>lock</mat-icon>
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Enter your password" formControlName="password" required>
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
            Password is required
          </mat-error>
          <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">
            Password should be at least 6 digit
          </mat-error>
        </mat-form-field>        
      
        <button mat-raised-button class="form-btn">
          <span>Login</span>
          <mat-icon>chevron_right</mat-icon>
        </button>

        <!-- <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p> -->
      </form>

      <div class="bottom-text" style="display: flex;">
        <p>Not have any account?</p>
        <a routerLink="">Create a new account</a>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<router-outlet></router-outlet>