.left-area {
  height: 100%;
  width: 100%;
  position: relative;
}

.logo-container {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
}

.logo {
  max-width: 50px;
  max-height: 50px;
}

.company-name {
  font-family: 'Inter', sans-serif;
  color: white;
  margin-left: 10px;
  padding-top: 10px;
}

.company-manage {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.01em;
}

.company-bug {
  font-family: 'JetBrains Mono', monospace;
  font-size: 24.49px;
  font-weight: 100;
  line-height: 32.33px;
  letter-spacing: 0.01em;
}

.signup-container {
  font-family: Poppins;
  color: #8692A6;
  width: 35%;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.signup-container h1 {
  color: #2F3367;
  /* font-family: Poppins; */
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  padding-top: 10px;
}

.form-btn {
  border-radius: 10px;
  background: #0085fa !important;;
  color: white !important;
  width: 50%;
  padding: 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-btn mat-icon {
  margin-left: 5px;
  order: 2;
  font-size: 22px;
  font-weight: 600;
}

.form-btn span {
  order: 1;
  font-size: 20px;
  font-weight: 600;
}

.bottom-text {
  display: flex;
  justify-content: space-between;
}

.bottom-text a {
  color: #007DFA;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}