<mat-grid-list cols="3" rowHeight="100vh">
  <mat-grid-tile colspan="1" style="padding: 0;">
    <div class="left-area"
      style="background-image: url('assets/images/home1.png'); background-size: cover; background-position: center;">
      <div class="logo-container">
        <img src="assets/images/Group.png" alt="Logo" class="logo">
        <p class="company-name">
          <span class="company-manage">Manage</span><span class="company-bug">Bug</span>
        </p>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" style="background-color: #FFFFFF;">
    <div class="signup-container">
      <div>
        <h1>Sign Up</h1>
        <p>Please fill your information below</p>
      </div>

      <form class="signup-form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-icon matPrefix>person</mat-icon>
          <mat-label>Name</mat-label>
          <input matInput placeholder="Enter your name" formControlName="name" required>
          <mat-error *ngIf="signupForm.get('name')?.hasError('required')">
            Name is required
          </mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
          <mat-icon matPrefix>phone_iphone</mat-icon>
          <mat-label>Mobile Number</mat-label>
          <input matInput type="tel" placeholder="Enter your mobile number" formControlName="mobile" required>
          <mat-error *ngIf="signupForm.get('mobile')?.hasError('required')">
            Mobile number is required
          </mat-error>
          <mat-error *ngIf="signupForm.get('mobile')?.hasError('invalidMobile')">
            Please enter a valid 10-digit mobile number
          </mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
          <mat-icon matPrefix>email</mat-icon>
          <mat-label>E-mail</mat-label>
          <input matInput type="email" placeholder="Enter your email" formControlName="email" required>
          <mat-error *ngIf="signupForm.get('email')?.hasError('required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="signupForm.get('email')?.hasError('email')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
          <mat-icon matPrefix>lock</mat-icon>
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Enter your password" formControlName="password" required>
          <mat-error *ngIf="signupForm.get('password')?.hasError('required')">
            Password is required
          </mat-error>
        </mat-form-field>        
      
        <button mat-raised-button class="form-btn">
          <span>Sign Up</span>
          <mat-icon>chevron_right</mat-icon>
        </button>

        <!-- <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p> -->
      </form>

      <div class="bottom-text" style="display: flex;">
        <p>Already have an account?</p>
        <a routerLink="/login">Login to your account</a>
      </div>
    </div>
    
  </mat-grid-tile>
</mat-grid-list>

<router-outlet></router-outlet>